<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/shared.css">
    
</head>

<body>
    <section class="header">
        <div class="header-holder">
            <h1>
                <span th:text="${wtext}"></span>
                <span th:text="${name}"></span>
            </h1>
        </div>
    </section>

    <section>
        <div class="section-first background">
            <img th:src="${imgUrl}" alt="profile-pic">
            <div class="whoIam">
                <h3>Who is this guy?</h3>
                <p th:text="${aboutDescription}"></p>
                    <a href="/mywork">
                    <button class="offset">
                        Get to see my work
                    </button> </a>
            </div>
        </div>
    </section>

    <section id="container">
        <h2>Technical Skills</h2>
        <div th:each="skill: ${skills}"
             class = "bar"
             th:attrappend= "class= ${skill.skillCategory},
                             class= ${skill.skillLevel},
                             data-skill=${skill.skillName}">
        </div>
        <!--
       <div class="bar back advanced" data-skill="SQL DataBases"></div>
       <div class="bar back advanced" data-skill="C#"></div>
       <div class="bar back expert" data-skill="C/C++"></div>
       <div class="bar front intermediate" data-skill="OpenGL and Graphics Programming"></div>
       <div class="bar front advanced" data-skill="CSS3"></div>
       <div class="bar front intermediate" data-skill="HTML5"></div>
       <div class="bar learning" data-skill="JavaScript"></div>
       <div class="bar back basic" data-skill="Python"></div>
   -->
    </section>

    <section>
        <div style="width: 70%; height: 70%">
            <div class="card-container">
                <div th:each="service: ${services}" class="card-item">
                    <div class="card-content">
                        <img th:src="${service.ImageURL}" alt="svg-pic">
                        <h3 th:text="${service.Title}" class="align-text-right">.</h3>
                        <p th:text="${service.Description}" class="align-text-right"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-container">
            <div class="contact-text">
                <h2>Contact Me</h2>
                <p>Whether you're interested in working with me or just want to say hello, I'd love to hear from you</p>
            </div>

            <form id="form" class="topBefore">

                <input id="name" type="text" placeholder="NAME">
                <input id="email" type="text" placeholder="E-MAIL">
                <textarea id="message" spellcheck="false" type="text" placeholder="MESSAGE"></textarea>
                <input id="submit" type="submit" value="SEND">

            </form>
        </div>
    </section>

    <section></section>

    <footer>
        <div class="social-media">
            <h4>Social Media</h4>
            <a href="https://github.com/Kujakuh">
                <span>></span> GitHub Kujakuh
            </a>
            <a href="https://www.linkedin.com/in/alvaro-vos/">
                <span>></span> LinkedIn
            </a>
            <a href="https://www.instagram.com/_kidery/">
                <span>></span> Instagram
            </a>
            <div class="separator-small"></div>
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="../js/navigation.js"></script>
    <script src="../js/bars.js"></script>
</body>

</html>